@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.myform{
  display: grid;
  height: 45vh;
  padding: 1rem;
  background-color:rgb(9, 9, 56);
  color: white;
}

form input {
  padding: 0.5rem;
  margin: 1rem;
  margin-top: 0.8rem;
  border-radius: 5px;
font-family:cursive;

}
form label{
  padding: 1rem;
  float: left; 
  width: 10%;
}
form textarea {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
}
form select {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
}
button{
border-radius: 5px;
padding: 0.5rem;
margin-top: 0.5rem;
width: 5rem;
margin-bottom: 1rem;
margin-left: 1rem;
}

.myview{
  display: grid;
  height: 50vh;
  width: 80vw;
  margin: 2rem;
}

.mynotes {
  display: block;
}
.mynotes p{
  padding: 0.5rem;
  margin: 1rem;
  text-indent:20px ;
  border-bottom: 1px dotted black;
  width: 40%;
 
}
.mynotes::before{
  content: "";
  width: 2px;
  height: 40%;
  border-left: 1px solid rgb(255, 77, 0);
  border-right: 1px solid rgb(255, 77, 0);
  position: absolute;
  left: 25px;
}
span{
  font-family:  "Caveat",cursive;
 
  padding: 1rem;
}
.newCircleeven{
  height: 70px;
  width: 130px;
  border-radius: 30%;
  color: rgb(27, 240, 27);
  z-index: 3;
  position: absolute;
  top: 150px;
 left: 460px;

}
.newCircleodd{
  height: 50px;
  width: 100px;
  border-radius: 30%;
  color: yellow;
  z-index: 3;
  position: absolute;
  top: 160px;
 left:460px;
 color:red;
} 
h5{
  margin-left: 0.8rem;
}